@font-face {
  font-family: MainFont;
  src: url("../src/Assets/fonts/Almarai-Regular.ttf");
}
@font-face {
  font-family: Title;
  src: url("../src/Assets/fonts/Tajawal-Medium.ttf");
}

body {
  margin: 0;
  font-family: "MainFont";
  background: #041461;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Title";
  font-weight: bold;
}
